

  *{
      margin: 0;
      padding: 0;
  }
  .container{
     
     width: 100%;
     min-height: 90vh;
     display:flex ;
     justify-content: center;
     align-items:center ;
     overflow: hidden !important;

  }
  .app-wrapper1{
   background-color: #12343b;
   min-width: 450px;
   min-height: 500px;
   padding: 30px;
   box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
  }
  .app-wrapper2{
   background-color: #12343b;
   min-width: 800px;
   min-height: 350px;
   padding: 30px;
   box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
  }
  
  .header h1{
     color: #fff;
     text-align:center;

  }

  .button-add{
   width: 70px;
   padding: 15px 15px;
   font-size: 20px;
   border-radius: 10px;
   border:0;
   background-color: #f1af71;
   cursor: pointer;

  }
  .task-input{
   width: 300px;
   padding: 15px 15px;
   font-size: 20px;
   color:rgb(184, 61, 176);
   border-radius: 10px;
   border:0;
   background-color: #eae7e4;
   

  }

 .list-item{
     display: flex;
     margin:20px 0;
     border:1px solid #ccc;
     border-radius: 10px;
     padding: 10px;
     max-height: 30px;


 } 

 .button-complete{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;

 }

 .button-delete{
   border: none;
   outline: none;
   cursor: pointer;
   background-color: transparent;
   font-size: 28px;
   border-radius: 50%;
 }

 .button-edit{
   border: none;
   outline: none;
   cursor: pointer;
   background-color: transparent;
   font-size: 28px;
   border-radius: 50%;
 }

 .list{
    width:220px;
    background-color: #12343b;
    border: none;
    color:#ccc;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 15px;

 }

 input:focus,
 button:focus{
    outline: none;
 }
 .task-input{

   outline: none;
   width:260px;
   padding: 15px;
   margin-right: 25px;
   font-size:20px;
   color: #ccc;
   background-color: #000000;
   border :1px solid #c89606;
   border-radius: 10px;
 
}
.done {
   color: green;
   margin-left: 45px;
   cursor: pointer;
}

.mark-done {
   text-decoration: line-through;
}

.delete {
   color: red;
   cursor: pointer;
}
.edit{
   color: blue;
   cursor: pointer;
}
.social-button {
   background-position: 25px 0px;
   box-sizing: border-box;
   cursor: pointer;
   text-align: center;
   height: 50px;
   line-height: 50px;
   text-decoration: none;
   text-transform: uppercase;
   width: 100%;
   border-radius: 5px;
   margin:  30px auto;
   padding: 0 20%;

}

#google-connect {
   background: rgb(220, 74, 61) url('https://github.com/ksalokya/backSlash/blob/main/src/icons/google.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;

}

#google-connect span {
   box-sizing: border-box;
   cursor: pointer;
   text-align: center;
   color: #FFF;
   
}

#google-connect:hover {
   transform: scale(1.1);
}

#facebook-connect {
   background: rgb(60, 90, 154) url('https://github.com/ksalokya/backSlash/blob/main/src/icons/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
}
#facebook-connect span {
   box-sizing: border-box;
   cursor: pointer;
   text-align: center;
   color: #FFF;

}

#facebook-connect:hover {
   transform: scale(1.1);
}

.signOut{
   
   position: absolute !important;
   right: 2% ;
   transform: translate(-50%,25%);
  

}
.logo{
   
  width: 350px;
  height: 350px;
  border-radius: 10px;

}
.welcome{
   color: #fff;
   font-size: 2rem;
   text-decoration: underline;
   text-align: center;
   margin-bottom: 30px;

}
.quotes2{
  color:#fff;
  font-size: 1.5rem;
  margin-bottom: 90px;
  text-align: center;

}
.quotes1{
   color:#fff;
   font-size: 1.5rem;
   margin-bottom: 10px;
 text-align: center;
 }
.navbar{
   background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
display: flex;
align-items: center !important;
justify-content:space-between ;

}
.username{
   color:white;
   font-size: 1.2rem !important ;

}

